@tailwind base;
@tailwind components;
@tailwind utilities;

.fasthand{
    font-family: "Fasthand", serif;
}

.sec2{
    background-color: #E1EAF4;
    

}


.overhide::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.bg-gif-background {
  background-image: url('./../Assets/hero.gif');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.elementa {
  transform: translatey(100%); /* Start position off-screen to the left */
  opacity: 0; /* Initially hidden */
  transition: transform 0.5s, opacity 1.5s; /* Adjust the duration as needed */
}

.elementa.slide-in {
  transform: translatey(0); /* Slide in to the original position */
  opacity: 1; /* Fade in */
  
}
